.navigations {
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(116, 116, 116, 0.5);
    background: rgba(248, 248, 248, 0.774);
    height: 8vh;
  }
  .burger {
    display: none;
    /* transition: 2s ease; */
  }
  .burger div {
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: #212529;
    transition: 0.2s ease;
  }
  .burger.toggle {
    animation: burgeranime 1s forwards;
  }

  @keyframes burgeranime {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);

    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  @media screen and (max-width: 720px)
  {
    .burger {
      display: block;
    }
  }
  .lang {
    width: 20px;
    height: 20px;
    border: 1px solid #bba4a4;
    border-radius: 50%;
    padding: 5px;
    box-shadow: inset 2px 0px 5px 1px rgb(207, 207, 207);
    display: flex;
    align-items: center;
  }
  .lang a {
    transition: color 0.3s ease;
  }
  .lang a:hover {
    color: rgba(13, 60, 114, 0.795);
  }
  .navigations nav {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .nav-list li{
    margin: 0px 20px;
  }
  .nav-list li a {
    color: #6e6e6e;
    font-size: 15px;
    transition: 0.3s ease;
  }
  .nav-list li a:hover {
    opacity: 0.7;
  }
  .social-media {
    display: flex;
  }
  .login-user {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .login-user li {
    padding: 0 10px;
    font-size: 14px;
    color: #6e6e6e;
    text-transform: uppercase;
  }
  .login-user li:nth-child(3) {
    color: rgb(182, 194, 18);
  }
  .login-user button {
    outline: none;
    background: none;
    border: none;
    color: rgb(104, 104, 104);
    font-size: 20px;
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
  }
  .social-media li {
    margin: 0px 10px;
  }
  .social-media li form {
    position: relative;
  }
  .social-media li:last-child {
    font-size: 14px;
    margin-top: 7px;
    color: #b5b4b4;
  }
  .auth {
    position: absolute;
    left: 70%;
    top: 45px;
    z-index: 2;
  }
  .auth a {
    font-size: 12px;
    color: rgb(167, 163, 163);
  }
  .social-media form input {
    border: 1px solid rgb(131, 131, 131);
    padding: 5px;
    outline: none;
  }
  .social-media form input::placeholder {
    color: #ccc;
  }
  .social-media form input:last-child {
    border-radius: 5px;
    background: none;
    padding: 4px 15px;
    color: rgb(145, 143, 143);
  }
  .user-area {
    display: none;
  }
  #closeuarea {
    display: none;
  }
  @media screen and (max-width: 900px)
  {
    .navigations nav {
      align-items: center;
    }
    .nav-list {
      display: flex;
      position: absolute;
      left: 0;
      top: 8vh;
      background: #055164fd;
      margin-top: 5px;
      height: calc(87vh - 5px);
      width: 150px;
      z-index: 10;
      flex-direction: column;
      justify-content: space-around;
      box-shadow: 3px 3px 10px rgba(10, 10, 10, 0.7);
      transform: translateX(-100%);
      opacity: 0;
      transition: 0.5s ease;
    }
    .nav-list.active {
      transform: translateX(0%);
      opacity: 1;
    }
    .nav-list li a {
      color: #f5f4f4;
      font-size: 15px;
      transition: 0.3s ease;
    } 
    .lang {
      width: 20px;
      height: 20px;
      border: none;
      padding: 5px;
      box-shadow: unset;
      display: flex;
      align-items: center;
    }
    .social-media{
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 1090px)
  {
    .social-media li form {
      display: flex;
    }
    .social-media li form input {
      max-width: 100px;
      width: 100%;
      border-radius: 10px;
      margin: 0 5px;
    }
    .social-media li form input[type='submit'] {
      width: 50%;
      font-size: 10px;
      border-radius: 10px;
    }
  }
  @media screen and (max-width: 720px) {
    .user-area {
      display: flex;
      align-items: center;
      padding-right: 5%;
    }
    .user-area p {
      font-size: 14px;
      color: rgba(117, 116, 116, 0.829);
    }
    .user-area i {
      color: #065d73;
    }
    .form-wrapper::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.7);
    }
    .social-media {
      display: none;
    }
    .social-media.active {
      display: block;
    }
    .social-media li {
      margin: 0px 0px;
    }
    .social-media li form {
      flex-direction: column;
      position: absolute;
      left: 50%;
      top: 30vh;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
    }
    .social-media li form input {
      max-width: 500px;
      width: 100%;
      margin: 10px 120px;
      height: 30px;
      padding-left: 10px;
    }
    .social-media li form input[type='submit'] {
      width: 100%;
      background: rgb(158, 158, 83);
      color: #fff;
      font-size: 14px;
    }
    .auth {
      position: absolute;
      left: 50%;
      top: 43vh;
      transform: translate(-50%, -50%);
      z-index: 100;
      color: #fff;
    }
    .auth a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.904);
      cursor: pointer;
    }
    .registerbtn {
      position: absolute;
      left: 50%;
      top: 48vh;
      transform: translate(-50%, -50%);
      z-index: 100;
      color: rgb(194, 194, 194)!important;
      border: 1px solid rgb(15, 14, 14);
      padding: 5px 10px;
      border-radius: 5px;
      background: rgba(240, 103, 103, 0.836);
      font-size: 12px!important;
      cursor: pointer;
    }
    #closeuarea {
      display: block;
      position: absolute;
      z-index: 10000;
      top: 15vh;
      left: 80%;
      border: none;
      outline: none;
      background: none;
      color: rgb(177, 67, 67);
      font-size: 18px;
    }
  }
  @media screen and (max-height: 670px)
{
    .navigations nav {
      padding: 15px 10px;
    }
}