.contact-main {
    padding-top: 50px;
}
.contact-main h1 {
    text-align: center;
    color: rgb(145, 143, 143);
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px 10px rgba(31, 79, 180, 0.5);
    position: relative;
    z-index: 2;
}
.contact-main h1::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 2px;
    background: rgba(161, 162, 165, 0.664);
    text-align: center;
}
.contact-main h1::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 2px;
    background: rgba(161, 162, 165, 0.664);
    text-align: center;
}

.contact-box {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    margin-top: 70px;
}
.contact-box div {
    background-color: #f7f7f7;
    height: 150px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.contact-box div p {
    color: rgb(39, 109, 141);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}


.contact-main .contact-form {
    margin-top: 55px;
    padding-bottom: 50px;
}
.contact-main .contact-form form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inputs,
.message {
    float: left;
}
.contact-main .contact-form h2 {
    font-weight: bold;
    color: #ccc;
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
}
form textarea {
    resize: none;
}
.contact-main .contact-form form input:not([type='submit']),
.contact-main .contact-form form textarea {
    width: 500px;
    padding-left: 10px;
    border: 1px solid rgb(233, 233, 233);
    color: rgba(92, 86, 80, 0.842);
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 5px;
    background: #f7f7f7;
}
.contact-main .contact-form form input::placeholder,
.contact-main .contact-form form textarea::placeholder {
    color: rgb(152, 169, 185);
}
.contact-main .contact-form form input,
.contact-main .contact-form form textarea {
    outline: none;
}
.contact-main .contact-form form input {
    padding: 5px 0;
}
.contact-main .contact-form form input:not([type='submit']) {
    height: 25px;
    font-weight: bold;
}

.contact-main .contact-form form textarea {
    height: 115px;
    overflow-x: hidden;
    padding: 5px 0 0 10px;
    font-weight: bold;
}
.contact-main .contact-form form input[type='submit'] {
    padding: 7px 50px;
    margin-top: 7px;
    float: right;
    background: #333536ce;
    outline: none;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 5px;
    letter-spacing: 2px;
    color: #fff;
    width: 35%;
    font-weight: bold;
}
.footer {
    bottom: unset!important;
}